.miniid{
    height: 50px;
    border: 2px solid brown;
    width: 100px;
}

.but{
    height: 50px;
    width: 100px;
}

.proza{
    pointer-events: none;
}

.draggable{
    position: absolute;
    z-index: 1;
    cursor: grab;
    transition-property: scale, opacity;
    transition-duration: 0,2s;
    touch-action: none;
}

.draggable.is-dragging{
    cursor: grabbing;
    opacity: 0.5;
    scale: 1.05;
}